pythons
arm_pcie-sdk
build
build_arm_pcie
release
soc-sdk
python/arm_pcie/sophon/sail.pyi
python/soc/sophon/sail.pyi
python/soc/sophon/sail.so
python/arm_pcie/dist
python/arm_pcie/sophon/sail.so
python/arm_pcie/sophon_arm_pcie.egg-info
python/sophon
python/dist
cmake/SAILConfig.cmake
pythons.tar.gz
sophon-sail-pysail-dev
build_soc
loongarch-sdk
loongson-gnu-toolchain-8.3-x86_64-loongarch64-linux-gnu-rc1.1
x86_pcie-sdk
.vscode